{% extends 'base.html.twig' %}

{% block title %}Ajouter une seance{% endblock %}

{% block stylesheets %}
{# {{ parent() }} #}

{% endblock %}


{% block body %}
<h1>Ajouter une seance</h1>

{{ form_start(formSeance) }}
{{ form_row(formSeance.name) }}
{{ form_row(formSeance.description)}}
{{ form_row(formSeance.categories) }}

<button type="submit" class="btn">Ajouter</button>
{{ form_end(formSeance) }}
{% endblock %}

{% block javascripts %}
{# {{ parent() }} #}

{% endblock %}
