{% extends 'base.html.twig' %}

{% block title %}Ajouter une seance{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/ajout.css') }}">
{% endblock %}

{% block body %}
<h1>Ajouter une seance</h1>

<div>
    {{ form_start(formSeance) }}
    {{ form_row(formSeance.name) }}
    {{ form_row(formSeance.description)}}
    {{ form_row(formSeance.categories) }}
</div>

<button type="submit" class="btn">Ajouter</button>
{{ form_end(formSeance) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/ajout.js') }}"></script>
{% endblock %}