{% extends 'base.html.twig' %}

{% block title %}Ajouter des exercices{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}

<div class="container mt-6 mb-5">
    <div class="row">
        <div class="col">
            {% include "components/_seance_banner.html.twig" %}
            <div class="w-100">
                <div class="my-2 mx-auto w-25">
                    <a href="{{ path('show_workout', {'id': seance.id})}}">
                        <button type="button" class="btn btn-primary py-3" name="route" value="finir">Terminer la
                            séance</button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="form-container col">
                    <h5 class="mx-5">Ajouter un exercice :</h5>
                    <div class="card p-4 mb-3">
                        {{ form_start(formExercice) }}
                        {{ form_row(formExercice.name) }}
                        {{ form_row(formExercice.pictureFile) }}
                        {{ form_row(formExercice.description)}}
                        {{ form_row(formExercice.serie) }}
                        {{ form_row(formExercice.repetition) }}
                        {{ form_row(formExercice.temps) }}
                        {{ form_row(formExercice.recuperation) }}
                    </div>
                    <button type="submit" class="btn btn-primary mt-2 w100">Ajouter cet
                        exercice</button>
                </div>
                <div class="col">
                    <div style="height: 80vh;">
                        <div class="mh-100" style="overflow-y: auto; overflow-x: hidden;">
                            <h5 class="mx-5">Exercices actuels :</h5>
                            {% if seance.exercices is not empty %}
                            {% include "components/_exercice.html.twig" %}
                            {% else %}
                            <div class="card p-4 col m-0">
                                <h6>Créé ton premier exercice !</h6>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(formExercice) }}
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}