{% extends 'base.html.twig' %}

{% block title %}Ajouter une seance{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/ajout.css') }}">
{% endblock %}

{% block body %}

<div class="container mt-6">
    <div class="row">
        <div class="col-11">
            <h5 class="mx-5">Ajouter une seance :</h5>
            <div class="card p-4 mb-3">
                {# <div class="card-body"> #}

                    {{ form_start(formSeance) }}
                    {{ form_row(formSeance.name) }}
                    {{ form_row(formSeance.pictureFile) }}
                    {{ form_row(formSeance.description)}}
                    <div class="d-flex">
                        {% for choice in formSeance.categories %}
                        <div class="form-check mx-1">
                            {{ form_widget(choice, {'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(choice) }}
                        </div>
                        {% endfor %}
                    </div>
                    {# {{ form_row(formSeance.categories) }} #}
                    {# , {'attr': {'class': 'form-check-label'}} #}
                    {#
                </div> #}
            </div>

            <h5 class="mx-5">Ajouter un exercice :</h5>
            <div class="card p-4 mb-3">
                {% for exercice in formSeance.exercices %}
                {{ form_row(exercice.name) }}
                {{ form_row(exercice.pictureFile) }}
                {{ form_row(exercice.description)}}
                {{ form_row(exercice.serie) }}
                {{ form_row(exercice.repetition) }}
                {{ form_row(exercice.temps) }}
                {{ form_row(exercice.recuperation) }}
                {% endfor %}
            </div>

            <div class="row d-flex">
                <div class="col">
                    <button type="submit" class="btn btn-primary mt-2 w100" name="route" value="ajouter">Ajouter un
                        exercice</button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary mt-2 w100" name="route" value="finir">Valider et terminer la séance</button>
                </div>
            </div>

        </div>

    </div>
    {{ form_end(formSeance) }}
    {# <div class="card p-2 col-1">
        <button id="add" class="btn btn-secondary my-3">+</button>
        <button id="remove" class="btn btn-secondary my-3">-</button>
    </div> #}
</div>

<div id="content">

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}