{% extends 'base.html.twig' %}

{% block title %}Liste des seances{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/liste.css') }}">
{% endblock %}

{% block body %}

<h1>liste des seances</h1>
<div id="container">
    <div>
  <p>{{ app.user.username }}</p>
    </div>
    {% for seance in seances %}
    <div class="card">
        <div class="card-body">
            <p> {{seance.user.username }}</p>
            <h5 class="card-title">{{ seance.name }}</h5>
            <p class="card-text">{{ seance.description }}</p>
            <a href="{{ path('show_workout', {'id': seance.id}) }}" class="btn btn-primary">Voir</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/liste.js') }}"></script>
{% endblock %}