{% extends 'base.html.twig' %}

{% block title %}Liste des seances{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

<div id="container">
    <div id="profilBloc">
        <h1>{{ app.user.username }}</h1>
        <img src="{{ app.user.picture }}" alt="" id="avatar">
        <p>{{ app.user.description }}</p>
        <a href="{{ path('user_profil', {'id': app.user.id}) }}">Profil</a>
        <a href="{{ path('add_workout') }}">Ajouter une séance</a>

    </div>
    <div id="filActuBloc">

       
        <div>
            {% include "components/_filterCategory.html.twig" %}
        </div>

            {# <form action="{{ path('home_list_by_category', {
            'slug': 'categories.name'
            }) }}" method="get" id="categorySelect">
                <select name="category" id="category">
                    <option value="0">Toutes les catégories</option>
                    {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Filtrer</button>
            </form> #}

        {{ render(controller(
        'App\\Controller\\SearchController::searchBar'
        )) }}

        {% for seance in seances %}
        <div id="filActu">
            <div id="formActu">
                <div>

                    {% if seance.picture is not null %}
                    <img src="{{ seance.picture }}" alt="" id="imgSeance">
                    {% endif %}

                    <p>{{ seance.likes | length}} likes</p>

                </div>
                <div>
                    <h5>{{ seance.name }}</h5>
                    <p>{{ seance.description }}</p>
                    Créer le {{ seance.createAt | date('d/m/Y') }}
                    <a href="{{ path('user_profil_visited', {'id': seance.user.username })}}">Voir le profil de <p> {{seance.user.username }}</p> </a>
                </div>
            </div>
            <div>
                <a href="{{ path('show_workout', {'id': seance.id}) }}">Voir La seance </a>
            </div>
        </div>{% endfor %}
    </div>

    <div id="topSeancebloc">
        <h1>top séances</h1>
        {% for seance in seancesByLikes %}
        <div id="topSeance">
            <div>
                <img src="{{ seance.picture }}" alt="" id="imgTopSeance">
            </div>
            <div>
                <h3>{{ seance.name }}</h3>
                likes {{ seance.likes | length}}
                par {{ seance.user.username }} <br>
                le {{ seance.createAt | date('d/m/Y') }}
                <a href="{{ path('show_workout', {'id': seance.id}) }}">Voir</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/home.js') }}"></script>
{% endblock %}