{% extends 'base.html.twig' %}

{% block title %} Seance : {{ seance.name }} {% endblock %}

{% block body %}

<img src="{{ seance.picture }}" alt="">
<h1>Seance</h1> 
{{ seance.likes | length}}
<a href="{{ path('app_likes', {'id': seance.id}) }}">Like</a>
<h2>{{ seance.name}} </h2>
<p> {{ seance.description }} </p>

<h5>Categories</h5>
{% for categorie in seance.categories %}
<p>{{ categorie.name }}</p>
{% endfor %}

{% for exercice in seance.exercices %}
<img src="{{ exercice.picture }}" alt="">
<p>Nom de la seance</p>
{{ exercice.name }}
<p>Description </p>
{{ exercice.description }}
<p>Series</p>
{{ exercice.serie }}
<p>Repetitions ou temps d'effort</p>
{{ exercice.repetition }}
{{ exercice.temps }}
<p>Recuperation</p>
{{ exercice.recuperation }}
{% endfor %}

<h3> Commentaires </h3>

{% for comment in seance.comments %}

<p>{{ comment.contenu }}</p>
<div>{{ comment.createdAt | date('d/m/Y H:i') }}
par : {{ comment.user.username }}</div>

{% endfor %}

{{ form_start(formComment) }}
{{ form_row(formComment.contenu) }}

<button type="submit" class="btn">Ajouter</button>

{{ form_end(formComment) }}

{% endblock %}