{% extends 'base.html.twig' %}

{% block title %} Seance : {{ seance.name }} {% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/show_workout.css') }}">
{% endblock %}
{% block body %}

{% set seanceUserPicture = asset('uploads/avatars/' ~ seance.user.pictureFile) %}

<div class="container mt-6">
    <div class="row">
        <div class="col-3">
            <div class="card p-4 mb-3">
                <div class="card-body d-flex flex-column align-items-center ">
                    <div>
                        <img src="{{ seanceUserPicture }}" alt="" class="avatar">
                        <h4 class="mt-2 text-center">{{ seance.user.username }}</h4>
                    </div>
                    <p class="description description-5 text-center">{{ seance.user.description }}</p>
                    <div>
                        <a href="{{ path('user_profil_visited', {'id': seance.user.id}) }}">Profil du créateur</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            {% include "components/_seance_banner.html.twig" %}
            {% if seance.exercices is empty %}
            <div class="card p-4 mb-3">
                <h2 style="text-align: center;">Cette séance n'a pas encore d'exercices</h2>
            </div>
            {% else %}
            {% include "components/_exercice.html.twig" %}
            {% endif %}
            <div class="d-flex m-3 align-items-center justify-content-between">
                <div class="w-100 mx-2 my-3">
                    {{ form_start(formComment) }}
                    {{ form_row(formComment.contenu) }}
                </div>
                <div class="">
                    <button type="submit" class="btn p-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                        </svg>
                    </button>
                </div>
                {{ form_end(formComment) }}
            </div>

            {% for comment in seance.comments %}
            <div class="d-flex mb-3 justify-content-between">
                <img class="avatar avatar-2" src="{{ asset('uploads/avatars/' ~ comment.user.pictureFile) }}" alt="">
                <div class="w-100">
                    <div class="card comment-card mx-2 p-3">
                        <div class="row">
                            <div class="d-flex justify-content-between">
                                <h6 class="mx-3">{{ comment.user.username }}</h6>
                                <p class="date">{{ comment.createdAt | date('d/m/Y H:i') }}</p>
                            </div>
                        </div>
                        <p class="description">{{ comment.contenu }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/show_workout.js') }}"></script>
{% endblock %}