{% extends 'base.html.twig' %}

{% block title %} Seance : {{ seance.name }} {% endblock %}

{% block body %}

<h1>Seance</h1>
<h2>{{ seance.name}} </h2>
<p> {{ seance.description }} </p>

{% for exercice in seance.exercices %}
{{ exercice.name }}
{{ exercice.description }}
{{ exercice.serie }}
{{ exercice.repetition }}
{{ exercice.temps }}
{{ exercice.recuperation }}
{% endfor %}

<h3> Commentaires </h3>

{% for comment in seance.comments %}

{{ comment.contenu }}
{{ comment.createdAt | date('d/m/Y H:i') }}

{% endfor %}

{{ form_start(formComment) }}
{{ form_row(formComment.contenu) }}

<button type="submit" class="btn">Ajouter</button>

{{ form_end(formComment) }}

{% endblock %}