{% extends 'base.html.twig' %}

{% block title %}Update workout!{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/ajout.css') }}">
{% endblock %}

{% block body %}

<div class="container mt-6">
    <div class="row">
        <div class="col-11">
            <h5 class="mx-5">Modifier votre seance :</h5>
            <div class="card p-4 mb-3">
                <div class="card-body">
                    <div class=" d-flex justify-content-end">
                        <a href="{{ path('delete_workout', {'id': seance.id}) }}" class="btn btn-dark btn-sm">
                            Supprimer la séance
                        </a>
                    </div>
                    {{ form_start(formSeance) }}
                    {{ form_row(formSeance.name) }}
                    {{ form_row(formSeance.picture) }}
                    {{ form_row(formSeance.description)}}
                    <div class="d-flex">
                        {% for choice in formSeance.categories %}
                        <div class="form-check mx-1">
                            {{ form_widget(choice, {'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(choice) }}
                        </div>
                        {% endfor %}
                    </div>
                    {# {{ form_row(formSeance.categories) }} #}
                    {# , {'attr': {'class': 'form-check-label'}} #}
                </div>
            </div>
            <h5 class="mx-5">Modifier vos exercices :</h5>
            {% if seance.exercices is empty %} <h2>Vous n'avez pas d'exercices</h2>
            {% else %}
            {% for exercice in formSeance.exercices %}
            <div class="card p-4 mb-3 exercice-form">
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <a href="{{ path('delete_exercise', {'id': seance.id, 'exercice': exercice.vars.value.id}) }}" class="btn btn-dark btn-sm">
                            Supprimer l'exercice
                        </a>
                    </div>
                    {{ form_row(exercice.name) }}
                    {{ form_row(exercice.picture) }}
                    {{ form_row(exercice.description)}}
                    {{ form_row(exercice.serie) }}
                    {{ form_row(exercice.repetition) }}
                    {{ form_row(exercice.temps) }}
                    {{ form_row(exercice.recuperation) }}
                </div>
            </div>
            {% endfor %}
            {% endif %}

            <div class="row d-flex">
                <div class="col">
                    <button type="submit" class="btn btn-primary mt-2 w100" name="route" value="ajouter">Ajouter un
                        exercice</button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary mt-2 w100" name="route" value="modifier">Valider la
                        modification</button>
                </div>
            </div>
            {{ form_end(formSeance) }}

        </div>
    </div>
</div>
<div id="content">

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/ajout.js') }}"></script>
{% endblock %}