{% extends 'base.html.twig' %}

{% block title %}Update workout!{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/ajout.css') }}">
{% endblock %}

{% block body %}

<div class="container mt-6">
    <div class="row">
        <div class="col-6">
            <h5 class="mx-5">Modifier votre seance :</h5>
            <div class="card p-4 mb-3">
                <div class="card-body">
                    <div class=" d-flex justify-content-end">

                        <a href="{{ path('delete_workout', {'id': seance.id}) }}" class="btn btn-dark btn-sm">
                            Supprimer la séance
                        </a>
                    </div>
                    {{ form_start(formSeance) }}
                    {{ form_row(formSeance.name) }}
                    {% if seance.pictureFile is not null %}
                    <img id="preview" src="{{ asset('uploads/picturesSeances/' ~ seance.pictureFile) }}" alt=""
                        style="max-width: 100%; max-height: 200px;">
                    {% else %}
                    <img id="preview" src="#" alt="" style="max-width: 100%; max-height: 200px;">
                    {% endif %}
                    {{ form_row(formSeance.pictureFile, {'attr': {'onchange': 'previewImage(event)'}}) }}
                    {{ form_row(formSeance.description)}}
                    <div class="d-flex flex-wrap">
                        {% for choice in formSeance.categories %}
                        <div class="form-check mx-1">
                            {{ form_widget(choice, {'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(choice) }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-2 w100 mb-4" name="route" value="modifier">Valider la
                modification</button>
        </div>
        <div class="col-6">
            <div class="my-2 mx-auto w-50">
                <button type="submit" class="btn btn-primary py-3" name="route" value="ajouter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                    </svg>
                    Ajouter un nouvel exercice
                </button>
            </div>
            <div style="height: 70vh;">
                <div class="mh-100" style="overflow-y: auto; overflow-x: hidden;">
                    {% for exercice in seance.exercices %}
                    {% set exercicePicture = asset('uploads/picturesExercices/' ~ exercice.pictureFile) %}
                    <div class="row">
                        <div class="col-11">
                            <div class="card p-4 mb-3">
                                <div class="row mb-3">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex">
                                            <div>
                                                <img class="seance-picture" src="{{ exercicePicture }}" alt="">
                                            </div>
                                            <div class="px-3">
                                                <h5 class="px-3" style="text-align: center;">{{ exercice.name }}</h5>
                                                <p class="description description-5"> {{ exercice.description }} </p>
                                            </div>
                                        </div>
                                        <ul class="list" style="white-space: nowrap;">
                                            <li>Series : {{ exercice.serie }}</li>
                                            {% if exercice.repetition %}
                                            <li>Repetitions : {{ exercice.repetition }}</li>
                                            {% endif %}
                                            {% if exercice.temps %}
                                            <li>Temps : {{ exercice.temps }}</li>
                                            {% endif %}
                                            {% if exercice.recuperation %}
                                            <li>Recuperation : {{ exercice.recuperation}}</li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="d-flex flex-column justify-content-center h-100">
                                <a class="my-2" href="{{ path('update_exercice', {'id': exercice.id}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                </a>
                                <a class="my-2"
                                    href="{{ path('delete_exercise', {'id': seance.id, 'exercice': exercice.id}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path
                                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {{ form_end(formSeance) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content">

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/ajout.js') }}"></script>
<script>
    function previewImage(event) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function () {
            var img = document.getElementById("preview");
            img.src = reader.result;
        };
        reader.readAsDataURL(input.files[0]);
    }
</script>
{% endblock %}