{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<h1>Resultat de la recherche</h1>
{% if app.request.method == 'POST' %}
{% if seances is empty and users is empty %}
<h2>Aucun résultat pour votre recherche</h2>
{% else %}
<div class="container">
    {% if seances is not empty %}
    <h1 class="text-center">Résultats de la recherche pour les séances</h1>
    {% for seance in seances %}
    <div>
        <img src="{{ seance.picture }}" alt="">
        <h1>{{ seance.name }}</h1>
        <p>{{ seance.description }} </p>
        par {{ seance.user.username }} <br>
        le {{ seance.createAt | date('d/m/Y') }}
        <a href="{{ path('show_workout', {'id': seance.id}) }}">Voir</a>
    </div>
    {% endfor %}
    {% endif %}

    {% if users is not empty %}
    <h1 class="text-center">Résultats de la recherche pour les utilisateurs</h1>
    {% for user in users %}
    <div>
        <img src="{{ user.picture}}" alt="" class="avatar">
        <h1>{{ user.username }}</h1>
        <p>{{ user.description }} </p>
        par {{ user.username }}
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endif %}
{% endif %}
{% endblock %}